@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

/*-- scss:defaults --*/
$theme-white: #F7F8F9;
$theme-yellow: #E8D4AD;
$theme-darksand: #D0927D;
$theme-night: #1E313D;
$theme-ground: #416270;

// $body-color: white;
$code-color: $theme-yellow;

// $body-bg: navy;

$link-color: gold;

$font-family-sans-serif: Inter, Helvetica, sans-serif;

/*-- scss:rules --*/

// push the controls over the right column
@media screen and (min-width: 500px) {
  .reveal .controls[data-controls-layout=edges] .navigate-down {
    left: 67%;
    bottom: 2.3em;
  }
  .reveal .controls[data-controls-layout=edges] .navigate-up {
    left: 67%;
    top: 2.3em;
  }
}

.myframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: fit-content;
  margin: auto !important;
  
}


.myframe2 {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  /*width: fit-content;*/
  /*margin: auto !important;*/
}


.window-style {
  
  pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; text-align: right; vertical-align: baseline;
    border: none; 
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: navy;
    color: #f8f8f2;
  }
pre.numberSource { color:#bdae9d;}
div.sourceCode.cell-code
  { color: #f8f8f2; background-color: navy; }

  
  // pre.sourceCode numberSource r number-lines code-with-copy

  
  code.sourceCode.scss {
    background-color: navy;
    color: #f8f8f2;
    
  }
      code.sourceCode.r {
      background-color: navy;
      color: #f8f8f2;
    
  }
  code.sourceCode.sass {
    color: #f8f8f2;
  
  }
  
  a {
  color: #f8f8f2;
}

 
  code span.cn { 
    color: $theme-darksand; 
  } /* Alert */
  code span.an { 
    color: #0066ff;
    font-weight: bold; font-style: italic; 
  } /* Annotation */
  code span.co {
    color: #f8f8f2;
    font-style: italic;
  }
  code a:any-link {
    color: inherit;
    text-decoration: none;
  }
  code span.ot {
    color: #00e0e0;
  }
  code span.sc {
    color: #abe338;
  }
  code span.fu {
    color: #ffa07a;
  }
  
  

}

 .reveal pre code {
    color: #f8f8f2;
    background-color: navy;
  }