/*-- scss:defaults --*/
$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

/* potential themes */
$light-blue: #ABBECB;
$back-blue: #160e1d;
$med-back-blue: #274E5A;
$crash-blue: #88AEB3;
$fade-blue: #BDCFD4;
$text-blue: #DEE2E2;
$light-back : #bdcad4;

/*$body-bg: #182337;*/
$body-bg: $light-back;
$body-color: $back-blue;
$link-color: $med-back-blue;




/*-- scss:rules --*/
.reveal div.sourceCode {
  border: unset !important;
}

div.sourceCode {
  background-color: unset !important;
}

@mixin background-full {
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.split-light{
  &:is(.slide-background) {
    background-image: url('30-70-light.svg');
    @include background-full;
    z-index: 0;
  }
  h1 {
    margin-left: -150px;
    font-size: 1.5em;
    color: $text-blue;
    z-index: 1;
    background-color: #fff;
  }
  h2, p, pre {
    color: $text-blue;
    margin-left: -150px;
    font-size: 2em;
    z-index: 1;

  }
  ul {
    text-align: center;
  }
  
  svg text{
    text-anchor: middle;
    dominant-baseline: middle;
  }
}

.slide1{
  h1 {
    font-size: 1.5em;
    color: $text-blue;
    z-index: 1;
  }
  h2, p, pre {
    color: $text-blue;
    font-size: 2em;
    z-index: 1;

  }
  ul {
    text-align: center;
  }
  
}




.theme-title1 {
  &:is(.slide-background) {
    background-image: url('box2.svg');
    @include background-full;
  }
    h2 {
    text-align: center;
    transform: translate(5em,5em);
    font-size: 3em;
  }
  h3 {
    color: $theme-blue;
    text-align: center;
    font-size: 2em;
  }
  svg text{
    text-anchor: middle;
    dominant-baseline: middle;
  }
}

.myframe {
  box-shadow: $back-blue 10px 5px 5px 0px;
}









